@import url("https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Body__Container__Login {
    background-color: #00171f;
    min-height: 100vh;
    justify-content: flex-start;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .Box__Login {
    background-color: #007ea7;
    width: 450px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: "Open Sans", sans-serif;

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }
  
  .Instructions__Login {
      padding: 25px;
  }

  .Box2__Login {
    display: flex;
    flex-direction: row;
  }

  .Instructions__Login {
    padding: 25px;
    font-size: 1.7em;
}

  .Login__Text {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    align-items: flex-end;
  }

  .Header__Login {
    white-space: nowrap;
    margin-top: 5px;
  }

  .Login__Inputs {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .Input__Login {
    height: 1.4em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    
    margin-top: 7px;
  }
  
  .Button1__Login {
      background: transparent;
      border: none;
      font-size: 1.4em;  
  }

  .Button1__Login:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

/* @media all and (min-width: 768px) and (max-width: 1024px) {
  .Body__Container__Login {
    background-color: #00171f;
    min-height: 100vh;
    justify-content: flex-start;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .Box__Login {
    width: 300px;
    height: 200px;
    background-color: #007ea7;
    margin-top: 20px;
    margin-left: calc( 50% - 150px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: "Open Sans", sans-serif;
  }
  
  .Instructions__Login {
      padding: 25px;
  }

 
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .Body__Container__Login {
    background-color: #00171f;
    min-height: 100vh;
    justify-content: flex-start;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .Box__Login {
    width: 300px;
    height: 30vh;
    background-color: #007ea7;
    margin-top: 20px;
    margin-left: calc( 50% - 150px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: "Open Sans", sans-serif;
  }
  
  .Instructions__Login {
      padding: 25px;
  }

  input {
      margin-top: 10px;
  }

  button {
      background: transparent;
      border: none;
  }
}

@media all and (max-width: 480px) {
  .Body__Container__Login {
    background-color: #00171f;
    min-height: 100vh;
    justify-content: flex-start;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .Box__Login {
    width: 300px;
    height: 30vh;
    background-color: #007ea7;
    margin-top: 20px;
    margin-left: calc( 50% - 150px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: "Open Sans", sans-serif;
  }
  
  .Instructions__Login {
      padding: 25px;
  }

  input {
      margin-top: 10px;
  }

  button {
      background: transparent;
      border: none;
  }
} */
