@import url("https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Body__DeckEdit {
    background-color: #00171f;
    min-height: 100vh;
    justify-content: flex-start;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }

  .Box__DeckEdit {
    background-color: #007ea7;
    width: 450px;
    height: 200px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: "Open Sans", sans-serif;

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .HeadersInputs__DeckEdit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;
    align-items: flex-end;
  }

  .Headers__Box {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    align-items: flex-end;
  }

  .Header__DeckEdit {
    white-space: nowrap;
    margin-top: 5px;
  }

  .Button1__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
  }

  .Button1__DeckEdit:hover {
    color: #ffffff;
    cursor: pointer;
  }

  .Inputs__Box {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .Input__DeckEdit {
    height: 1.4em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    
    margin-top: 7px;
    margin-left: 10px;
  }
}

/* @media all and (min-width: 768px) and (max-width: 1024px) {
  .Body__DeckEdit {
    background-color: #00171f;
    min-height: 100vh;
    width: auto;
  }

  .Spacer__DeckEdit {
    height: 8vh;
  }

  .Form__Container__DeckEdit {
    width: 75vw;
    height: 40vh;
    background-color: #007ea7;
    margin-left: 13.75vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 20, 20);
    font-family: "Open Sans", sans-serif;
  }

  .Header__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
  }

  .Button1__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .Body__DeckEdit {
    background-color: #00171f;
    min-height: 100vh;
    width: auto;
  }

  .Spacer__DeckEdit {
    height: 8vh;
  }

  .Form__Container__DeckEdit {
    width: 75vw;
    height: 30vh;
    background-color: #007ea7;
    margin-left: 13.75vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 20, 20);
    font-family: "Open Sans", sans-serif;
  }

  .Header__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
  }

  .Button1__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
  }
}

@media all and (max-width: 480px) {
  .Body__DeckEdit {
    background-color: #00171f;
    min-height: 100vh;
    width: auto;
  }

  .Spacer__DeckEdit {
    height: 10vh;
  }

  .Form__Container__DeckEdit {
    width: 300px;
    height: 30vh;
    background-color: #007ea7;
    margin-left: calc(50% - 150px);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 20, 20);
    font-family: "Open Sans", sans-serif;
  }

  .Header__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
  }

  .Buttons__DeckEdit {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
  }
} */
