@import url("https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Body__Container__Dashboard {
    background-color: #00171f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;

    max-width: 100vw;
  }

  .Instructions__Dashboard {
    padding: 25px;
  }

  button {
    background: transparent;
    border: none;
  }

  .Linebreak {
    height: 2px;
    width: 175px;
    background-color: #ffffff;
    margin-bottom: 15px;
  }

  .Deck__List__Dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }

  .Divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .Section1, .Section2 {
    width: 400px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .Body__Container__Dashboard {
    background-color: #00171f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: auto;

    max-width: 100vw;
  }

  .Instructions__Dashboard {
    padding: 25px;
  }

  button {
    background: transparent;
    border: none;
  }

  .Linebreak {
    height: 2px;
    width: 175px;
    background-color: #ffffff;
    margin-bottom: 15px;
  }

  .Deck__List__Dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-content: space-around;
  }

  .Section1,
  .Section2 {
    visibility: hidden;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .Body__Container__Dashboard {
    background-color: #00171f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: auto;
  }

  .Instructions__Dashboard {
    padding: 25px;
  }

  button {
    background: transparent;
    border: none;
  }

  .Linebreak {
    height: 2px;
    width: 175px;
    background-color: #ffffff;
    margin-bottom: 15px;
  }

  .Deck__List__Dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-content: space-around;
  }
}

@media all and (max-width: 480px) {
  .Body__Container__Dashboard {
    background-color: #00171f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    height: auto;
  }

  .Instructions__Dashboard {
    padding: 25px;
  }

  button {
    background: transparent;
    border: none;
  }

  .Linebreak {
    height: 2px;
    width: 175px;
    background-color: #ffffff;
    margin-left: 10px;
  }

  .Deck__List__Dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-content: space-around;
  }
}
