@import url("https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Question__Container {
    margin-left: calc(50% - 375px);
    margin-top: 5vh;
    width: 750px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2vh;

    background-color: #00a7e1;
    border-radius: 25px;

    font-family: "Open Sans", sans-serif;

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .Question__Text {
    font-size: 1.5em;
  }

  .Question__Img {
    height: 130px;
    max-width: 350px;
    border-radius: 15px;
    margin-top: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .Question__Container {
    margin: calc(50% - 375px);
    width: 750px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #00a7e1;
    border-radius: 25px;

    font-family: "Open Sans", sans-serif;
  }

  .Question__Text {
    font-size: 1.5em;
  }
  .Question__Img {
    height: 130px;
    max-width: 350px;
    border-radius: 15px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .Question__Container {
    margin: 15px;

    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #00a7e1;
    border-radius: 25px;

    font-family: "Open Sans", sans-serif;
  }

  .Question__Img {
    height: 100px;
    max-width: 290px;
    border-radius: 15px;
  }
}

@media all and (max-width: 480px) {
  .Question__Container {
    margin: 15px;

    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #00a7e1;
    border-radius: 25px;

    font-family: "Open Sans", sans-serif;
  }

  .Question__Img {
    height: 100px;
    max-width: 290px;
    border-radius: 15px;
  }
}
