@import url("https://fonts.googleapis.com/css?family=Nova+Flat|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Nav__Container {
    /* background-color: #9fd7ff55; */
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    border-bottom: 2px solid white;
  }

  .logo {
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    margin-top: 12px;
    /* text-shadow: 9px 7px 3px rgba(0, 0, 0, 0.81); */
  }

  .Menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Nova Flat", cursive;
    margin-top: 23px;
    font-size: 20px;
  }

}








/* 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .Nav__Container {
    background-color: #003459;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #cac436;
  }

  .logo {
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    margin-top: 7px;
  }

  .Menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Nova Flat", cursive;
    margin-top: 20px;
    font-size: 20px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .Nav__Container {
    background-color: #003459;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #cac436;
  }

  .logo {
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    margin-top: 7px;
  }

  .Menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Nova Flat", cursive;
    margin-top: 20px;
    font-size: 1.2em;
  }
}

@media all and (max-width: 480px) {
  .Nav__Container {
    background-color: #003459;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #cac436;
  }

  .logo {
    font-size: 40px;
    font-family: "Permanent Marker", cursive;
    margin-top: 7px;
  }

  .Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Nova Flat", cursive;
  }
} */
