@import url('https://fonts.googleapis.com/css?family=Nova+Flat|Permanent+Marker');

.Nav__Container {
    background-color: #0E3F82;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-around;
    color: #CAC436;
}

.logo {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 5px;
}

.links{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Nova Flat', cursive; 
    margin-top: 20px;
}