@import url("https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker");

@media all and (min-width: 1024px) {
  .Answer__Container {
    margin-left: calc(50% - 375px);
    margin-top: 5vh;
    width: 750px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #00a7e1;
    border-radius: 25px;

    font-family: "Open Sans", sans-serif;

    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }

  .Answer__List {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }

  .Answer__Correct:hover {
    color: #ffffff;
    cursor: pointer;
  }

  .Answer__Wrong:hover {
    color: #ffffff;
    cursor: pointer;
  }
}
